<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">

	<contextName>pivot</contextName>

	<appender name="FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${catalina.home}/logs/${CONTEXT_NAME}.log</file>
		<rollingPolicy
			class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- daily rollover -->
			<fileNamePattern>${catalina.home}/logs/${CONTEXT_NAME}-%d{yyyy-MM-dd}.log
			</fileNamePattern>
		</rollingPolicy>

		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %level %logger - %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="STDOUT"
		class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%contextName: %d{HH:mm:ss.SSS} [%thread] %level %logger -
				%msg%n</pattern>
		</encoder>
	</appender>

	<root level="INFO">
		<appender-ref ref="FILE" />
		<appender-ref ref="STDOUT" />
	</root>

	<logger name="fi.thl" level="INFO">
		<appender-ref ref="FILE" />
	</logger>
	<logger name="org.springframework" level="INFO">
		<appender-ref ref="FILE" />
	</logger>
	<logger name="freemarker" level="INFO">
		<appender-ref ref="FILE" />
	</logger>
	<root level="WARN">
		<appender-ref ref="FILE" />
	</root>

</configuration>